<!-- 
 This template contains the form for creating a new user account
-->

{% extends "base/base.html" %}

{% block content %}

<section class="banner">
    <img src="https://images.pexels.com/photos/1132558/pexels-photo-1132558.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Accounts image">
    <div class="banner-overlay">
        <div class="banner-inner-wrapper">
            <h1 class="banner-title">Create Account</h1>
        </div>
    </div>
</section>

<section class="accounts-section">

    {% include "base/account_form.html" %}

</section>

<!-- Footer -->
{% include "base/footer.html" %}

{% endblock %}

