<!-- 
 THIS TEMPLATE IS FOR THE VIEW RECIPES PAGE
-->

{% extends "base/base.html" %}

{% block content %}

<section class="banner">
    <img src="https://images.pexels.com/photos/1603901/pexels-photo-1603901.jpeg?auto=compress&cs=tinysrgb&w=600" alt="View Recipe image">
    <div class="banner-overlay">
        <div class="banner-inner-wrapper">
            <h1 class="banner-title">View Recipes</h1>
        </div>
    </div>
</section>


<!-- Footer -->
{% include "base/footer.html" %}

{% endblock %}