<!-- This template contains the markup for the hero section -->
 <section class="hero">
    <h2>Welcome To</h2>
    <h1>My Cookbook</h1>
    <p>
        Welcome to my cookbook. <br>
        Start your personal home cook book journey! 
        Create and view your recipes, or view other peoples amazing recipes.
        Share your recipes on social media and show everyone your greatest dishes!!
    </p>
    <a class="btn hero-btn" href="{{ url_for('accounts') }}">Get Started <i class="fas fa-arrow-right"></i></a>
 </section>