/******* GOOGLE FONT IMPORTS *******/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/******* ROOT VARIABLES *******/
:root {
    --font-dark-clr: #1f1f1f;
    --font-medium-clr: #797A7F;
    --font-light-clr: #F7F7F7;
    --primary-one-clr: #00966B;
    --primary-two-clr: #00D59A;
    --footer-one-clr: #252529;
    --footer-two-clr: #1f1f1f;
    --base-transition: all 0.8s ease-out 0.3s;
    --base-radius: 5px;
}

/******* GLOBAL STYLES *******/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: "Mukta", sans-serif;
}
a {
    text-decoration: none;
}
h2 {
    font-size: 1.8rem;
}

/******* HEADER/NAVBAR STYLING *******/
.header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: sticky;
    top: 0px;
    padding: 1% 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Header wrappers */
.nav-btn-wrapper {
    display: none;
    align-items: center;
    gap: 0.5rem;
}
.nav-icon-btn-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
/* Logo styling */
.logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--font-dark-clr);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}
.logo i {
    color: var(--primary-one-clr);
}

/* Navbar styling */
.navbar {
    display: none;
}
.navbar ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.navbar ul li {
    list-style: none;
    position: relative;
}
.navbar ul li a {
    color: var(--font-dark-clr);
}
.navbar ul li a::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -4px;
    height: 2px;
    width: 0%;
    background-color: var(--primary-two-clr);
    transition: var(--base-transition);
}
.navbar ul li a:hover::after {
    width: 100%;
}

/* Nav btn styling */
.nav-btn {
    border: 2px solid var(--font-medium-clr);
}
.nav-btn:hover {
    background-color: var(--font-medium-clr);
    color: var(--font-light-clr);
}
/* Nav icon btn styling */
.nav-icon-btn:hover {
    background-color: var(--font-medium-clr);
    color: var(--font-light-clr);
}

/* Btn base styling */
.btn {
    height: 30px;
    width: auto;
    padding: 0 0.4rem;
    text-decoration: none;
    color: var(--font-medium-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    border-radius: var(--base-radius);
    transition: var(--base-transition);
}

/******* HERO SECTION STYLING *******/
/* Hero wrapper */
.hero {
    background-image: url('https://images.pexels.com/photos/842571/pexels-photo-842571.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 85vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: var(--font-light-clr);
    padding: 3%;
}
.hero h1 {
    font-size: 2.5rem;
    color: var(--primary-two-clr);
}
.hero h2 {
    font-size: 1.8rem;
    color: var(--font-medium-clr);
}
/* Hero btn */
.hero-btn {
    border: none;
    background-color: var(--primary-one-clr);
    color: var(--font-light-clr);
    height: 45px;
    width: 170px;
}
.hero-btn:hover {
    background-color: var(--primary-two-clr);
}

/******* FOOTER STYLING *******/
.footer {
    width: 100%;
    height: auto;
    background-color: var(--footer-one-clr);
    color: var(--font-light-clr);
}
.footer-top-content {
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}
.footer-top-wrapper {
    padding: 0.5rem 0;
}
.social-icons-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#footer-logo {
    color: var(--font-light-clr);
    justify-content: center;
}
.seperator {
    height: 1px;
    width: 100%;
    background-color: var(--font-medium-clr);
}
.footer-bottom-content {
    background-color: var(--footer-two-clr);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-bottom-content p {
    font-size: 0.8rem;
}
/* Social Button */
.social-btn {
    width: 35px;
    height: 35px;
    border-radius: 100vh;
    text-decoration: none;
    color: var(--font-medium-clr);
    border: 2px solid var(--font-medium-clr);
    display: grid;
    place-items: center;
    transition: var(--base-transition);
}
.social-btn:hover {
    color: var(--primary-two-clr);
    border: 2px solid var(--primary-two-clr);
    box-shadow: 0px 0px 7px var(--primary-two-clr);
}
.footer-middle-content {
    text-align: center;
    color: var(--font-medium-clr);
}
.footer-middle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.footer-link {
    text-decoration: none;
    color: var(--font-medium-clr);
}
#footer-seperator {
   background-color: var(--primary-two-clr);
   width: 60%;
}

/******* BANNER STYLING *******/
.banner {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-overlay {
    background:  linear-gradient(to right, #24242b 34%, #03030399);
    position: absolute;
    left: 0;
    top: 0;
    float: left;
    z-index: 1000;
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--font-medium-clr);
    padding: 2%;
}
.banner-inner-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--font-medium-clr);
    width: 100%;
    height: 100%;
    padding: 0 20%;
}
.banner-title {
    font-size: 3.2rem;
    color: var(--primary-one-clr);
}

/******* ACCOUNTS SECTION STYLING *******/
.accounts-section {
    padding: 5%;
}

/******* ACCOUNTS FORM STYLING *******/
.accounts-form {
    width: 100%;
    height: 100%;
    border-radius: var(--base-radius);
    box-shadow: 3px 3px 7px var(--font-medium-clr);
    display: grid;
    gap: 0.4rem;
    padding: 1%;
}
.form-top-content {
    width: 100%;
    height: max-content;
    background: linear-gradient(to right bottom, #F7F7F7 15%, #00966B 65%);
    border-radius: var(--base-radius);
    padding: 2%;
}
.account-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
    color: var(--font-light-clr);
}
#form-sign-in-btn {
    height: 45px;
    width: 150px;
    background-color: transparent;
    border: 2px solid var(--font-light-clr);
    background: transparent;
}
#form-sign-in-btn:hover {
    background: #ffffff55;
}
.form-bottom-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2%;
    color: var(--font-medium-clr);
}
.form-header-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
.form-socials-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.form-socials-wrapper a {
    color: var(--font-medium-clr);
}
.input {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid var(--font-medium-clr);
    display: flex;
    align-items: center;
}
.input i {
    color: var(--primary-one-clr);
}
.input input {
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    color: var(--font-medium-clr);
    font-size: 0.9rem;
    padding-left: 0.4rem;
}
.input input::placeholder {
    color: var(--font-medium-clr);
}
/* Form btn */
.form-btn {
    height: 45px;
    border-radius: 100vh;
    border: none;
    cursor: pointer;
    color: var(--font-light-clr);
    background: linear-gradient(to right bottom, #00966B 30%, #00D59A);
    transition: var(--base-transition);
}
.form-btn:hover {
    box-shadow: 0px 0px 10px var(--font-medium-clr);
}


/******* MEDIA QUERIES *******/
@media all and (min-width: 760px) {
    /* Hero wrapper */
    .hero {
        background-image: linear-gradient(to right, #fff 30%, #ffffff00),
        url('https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=600');
        text-align: left;
        align-items: start;
        padding-right: 65%;
    }
    .hero p {
        color: var(--font-medium-clr);
    }

    /* Accounts section */
    .accounts-section {
        padding: 5% 15%;
    }
    /* Accounts form */
    .form-header-content {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media all and (min-width: 1260px) {
    /* Header */
    .header {
        padding: 1% 5%;
    }
    /* Header wrappers */
    .nav-btn-wrapper {
        display: flex;
    }
    .nav-icon-btn-wrapper {
        display: none;
    }
    /* Navbar */
    .navbar {
        display: flex;
    }
    /* Footer */
    .footer-top-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer-middle-content {
        display: flex;
        justify-content: center;
    }
    .footer-middle-wrapper {
        width: 30%;
    }
    /**/
    .accounts-form {
        display: flex;
        height: 500px;
    }
    .form-top-content {
        width: 50%;
        height: 100%;
        flex-shrink: 0;
    }
}